.partnerSection_container {
  width: 100vw;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1626;
}

.PartnerOrganisation_header {
  text-align: center;
  width: 100vw;
  height: 37.748px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 23.374px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.8%;
  text-transform: capitalize;
}

.partnerSection_list_container {
  width: 100vw;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
