.hero_container {
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero_main_box1 {
  display: flex;
  flex-direction: column;
}

.hero_main_box1_description_container {
  display: flex;
  flex-direction: row;
  gap: 138px;
}

.hero_main_header_paragraph {
  width: 680px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  margin-left: 400px;
}

.hero_aiSofwareText {
  background: var(
    --color-gradiant,
    linear-gradient(86deg, #7961f2 6.81%, #cc69f1 60.2%, #f8da8f 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_ai_definition_container {
  margin-left: -140px;
  width: 600px;
  height: 383.022px;
  text-align: right;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(70px);
  transform: rotate(-19.867deg);
  position: relative;
  display: flex-end;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 100px;
  z-index: 1;
}
.hero_ai_definition_container::before {
  content: "";
  transform: rotate(-3deg);
  border-radius: inherit;
  inset: 30px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: #7961f2;
  filter: brightness(60%);
  backdrop-filter: blur(70px);
}

.hero_ai_definition_container > .hero_ai_description_paragraph {
  transform: rotate(16.867deg);
}

.hero_ai_definition_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero_ai_description_paragraph {
  width: 265px;
  font-family: "Inter" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.8%;
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.57) 21.67%,
    rgba(255, 255, 255, 0) 132.75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 140px;
}
.hero_ai_definition_header {
  transform: rotate(16.867deg);
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.8%;
  text-align: right;
  position: absolute;
  top: 130px;
  left: 290px;
}

.hero_call_to_action_button1 {
  width: 175px;
  height: 47px;
  border-radius: 43px;
  border: 1px solid var(--color-gradiant, #7961f2);
  background: var(
    --color-gradiant,
    linear-gradient(86deg, #7961f2 6.81%, #cc69f1 60.2%, #f8da8f 100%)
  );
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 149.8%; /* 26.964px */
}

.hero_call_to_action_button2 {
  width: 236px;
  height: 47px;
  border-radius: 43px;
  border: 1px solid var(--color-gradiant, #7961f2);
  background: var(
    --color-gradiant,
    linear-gradient(86deg, #7961f2 6.81%, #cc69f1 60.2%, #f8da8f 100%)
  );
  box-shadow: -4px 33px 43px 4px #010104 inset;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 149.8%;
  margin-left: 13px;
}

.heroRobotImage {
  width: 415px;
  height: 621px;
}

.hero_call_to_action_box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero_call_to_action_paragraph {
  color: #fff;
  width: 405px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 149.8%;
}

/* Bubble glow */
.hero_bubbles_container {
  display: flex;
  flex-direction: column;
  width: 70px;
  aspect-ratio: 1;
  border: 2px transparent;
  position: relative;
  background-color: transparent;
  position: absolute;
  bottom: 190px;
  right: -10px;
  transform: rotate(57.867deg);
}

.hero_circle_container {
  width: 100%;
  border-bottom: 1px transparent;
  height: calc(100% / 4);
  position: relative;
  padding-bottom: 3px;
}
.hero_bubbles_circle {
  width: 120px;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #fff,
    inset -20px 0 80px #7961f2, inset 20px 0 300px #fff,
    inset -20px 0 300px #7961f2, 0 0 50px #fff, #fff, #7961f2;
}

.hero_bubbles_circle1_container {
  height: 25%;
  padding-left: 15px;
}
.hero_bubbles_circle1 {
  width: 20px;
}

.hero_bubbles_circle2_container {
  height: 15%;
  padding-left: 13px;
}
.hero_bubbles_circle2 {
  width: 13px;
}

.hero_bubbles_circle3_container {
  height: 13%;
  padding-left: 11px;
}
.hero_bubbles_circle3 {
  width: 10px;
}

.hero_bubbles_circle4_container {
  height: 10%;
  padding-left: 10px;
}
.hero_bubbles_circle4 {
  width: 6px;
}

/* circle */
.ellipse_circle1 {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -10px;
}
.ellipse_circle2 {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 370px;
}
